<template>
    <div>
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#">
                    Todo
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left Side Of Navbar -->
                    <ul class="navbar-nav mr-auto">

                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul v-if="!isLoggedIn" class="navbar-nav ml-auto">
                        <!-- Authentication Links -->
                        
                            <li class="nav-item">
                                <a class="nav-link" href="#">Login</a>
                            </li>
                        
                    </ul>
                    <ul v-else class="navbar-nav ml-auto">
                        <li  class="nav-item dropdown">
                            <a class="nav-link" href="#" aria-expanded="false" >
                                {{username}} 
                            </a>
                        </li>
                         <li  class="nav-item dropdown">
                            <a class="nav-link" href="#" @click="logout">
                                Logout
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</template>

<script>

export default {
    name: "Header",
    data : function(){
        return {
            isLoggedIn  :   false,
            username : null
        }
    },
    mounted() {
        this.$nextTick(function () {
            if(sessionStorage.name){
                this.isLoggedIn     =   true;
                this.username       =   sessionStorage.name;
            } 
        })
        
    },
    updated(){
        this.$nextTick(function () {
            if(sessionStorage.name){
                this.isLoggedIn     =   true;
                this.username       =   sessionStorage.name;
            } 
        })
    },
    methods : {
        logout : function(e){
            e.preventDefault();
             this.$axios
            .get('http://todobackend/api/logout')
            .then(response => (
                sessionStorage.clear(),
                this.$router.push({ path: '/' })
            ))
        }
    }
};
</script>