<template>
    <div class="py-4 container">
        <div>
            <div class="card">
                <div class="card-header">
                    Create To Do
                </div>
                <div class="card-body">
                    <div v-if="saved" class="alert alert-success alert-dismissible fade show" role="alert">
                        Todo saved!
                        
                    </div>
                    <div class="form-group row">
                        <label for="todo" class="col-md-4 col-form-label text-md-right">To do</label>

                        <div class="col-md-6">
                            <textarea v-model="todo" id="todo" type="text" class="form-control" name="tdod" required autocomplete="todo" autofocus>

                            </textarea>
                            <span v-if="error" class="invalid-feedback" role="alert">
                                <strong>{{ errormessage }}</strong>
                            </span>
                            
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="datepicker" class="col-md-4 col-form-label text-md-right">Date</label>
                        <div class="col-md-6">
                            <datepicker v-model="state.date" name="uniquename"></datepicker>
                        </div>
                        
                    </div>

                    <div class="form-group row mb-0">
                        <div class="col-md-6 offset-md-4">
                            <button type="button" @click="createtodo" class="btn btn-primary">
                                CREATE
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="py-4">
                <div v-for="item in items" class="card">
                    <div class="card-header">
                       {{ item.date }}
                       <button @click="edittodo(item.id)" class="btn btn-primary float-right">
                           Edit
                       </button>
                       <button @click="deletetodo(item.id)" class="btn btn-danger float-right">
                           Delete
                       </button>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">

                            <div class="col-md-6">
                               {{ item.todo }}
                            </div>
                       </div>
                       <div v-if="item.edit" class="form-group row">

                            <div class="col-md-6">
                                <textarea v-model="item.todo" class="form-group">

                                </textarea>
                                
                            </div>
                            <div class="col-md-6">
                                 <button @click="savetodo(item.id)" class="float-left btn btn-success">
                                    SAVE
                                </button>
                            </div>
                       </div>
                        
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>

import Datepicker from 'vuejs-datepicker';

export default {
    name: "Home",
    components: {
        Datepicker
    },
    data : function(){
        return {
            userid : null,
            api_token : null,
            name : null,
            email : null,
            todo : null,
            error : false,
            errormessage : null,
            state : {
                date: new Date()
            },
            saved : false,
            items : {}
        }
    },
    mounted(){
        this.userid = sessionStorage.user,
        this.api_token = sessionStorage.api_token
        this.name = sessionStorage.name
        this.email = sessionStorage.email
        this.getTodo()
    },
    methods : {
        createtodo : function(){

            let config = {
                headers: {
                    Authorization : 'Bearer '+ this.api_token
                }
            };
            
             this.$axios
            .post('http://todobackend/api/todostore',{
                content : this.todo,
                userId : this.userid,
                date : this.state.date.toISOString().slice(0, 19).replace('T', ' ')
            }, config)
            .then( (
               this.saved = true,
               this.getTodo()
            ))
        },

        getTodo : function(){
            let config = {
                headers: {
                    Authorization : 'Bearer '+ this.api_token
                }
            };

            this.$axios
            .post('http://todobackend/api/todolist',{
                
                userId : this.userid,
                date : this.state.date.toISOString().slice(0, 19).replace('T', ' ')
            }, config)
            .then(response => (
              
                response.data.data.forEach(function(item){
                    item.edit   =   false;
                }),
                 this.items = response.data.data
            ))
        },

        deletetodo(id){
            let config = {
                headers: {
                    Authorization : 'Bearer '+ this.api_token
                }
            };
            this.$axios
            .post('http://todobackend/api/tododelete',{
                
                todoid : id,
                date : this.state.date.toISOString().slice(0, 19).replace('T', ' ')
            }, config)
            .then((
               this.getTodo()
            ))
        },

        edittodo(id){
            var items   =        this.items;
            items.forEach(function(item) {
                if(item.id == id){
                    item.edit = true;
                }
            });
            this.items  =   items;
        },

        savetodo(id){
            let config = {
                headers: {
                    Authorization : 'Bearer '+ this.api_token
                }
            };
            var items   =        this.items;
            var content =       null;
            items.forEach(function(item) {
                if(item.id == id){
                    item.edit = false;
                    content     =   item.todo;
                }
            });
            this.items  =   items;
            var data    =   {
                todoid  :   id,
                todo    :   content
            };
             this.$axios
            .post('http://todobackend/api/todoupdate',data, config)
            
        }
    },
    watch: {
        
    }
}
</script>