<template>
    <div class="py-4 container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Please Login
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                            <div class="col-md-6">
                                <input v-model="email" id="email" type="email" class="form-control" name="email" required autocomplete="email" autofocus>

                                <span v-if="error" class="invalid-feedback" role="alert">
                                    <strong>{{ errormessage }}</strong>
                                </span>
                                
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input v-model="password" id="password" type="password" class="form-control" name="password" required autofocus>

                                <span v-if="error" class="invalid-feedback" role="alert">
                                    <strong>{{ errormessage }}</strong>
                                </span>
                                
                            </div>
                        </div>

                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="button" @click="login" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script>


export default {
    name: "Login",
    data : function(){
        return {
            email : null,
            password : null,
            error : false,
            errormessage : null
        }
    },
    mounted(){
        sessionStorage.clear();
    },
    methods : {
        login : function(){
            
            this.$axios
            .post('http://todobackend/api/login',{
                email : this.email,
                password : this.password
            })
            .then(response => (
                this.info = response,
                sessionStorage.api_token = response.data.api_token,
                sessionStorage.user = response.data.id,
                sessionStorage.name = response.data.name,
                sessionStorage.email = response.data.email,
                this.$emit('login-event',response.data),
                this.$router.push({ path: 'home', name:"home" })
            ))
            
            
        }
    }
}
</script>
